<section class="products-page">
  <article class="products-page__hero">
    <video
      src="./../../../assets/starwars.mov"
      [muted]="'muted'"
      autoplay
      loop
      playsinline
    ></video>
    <ng-lottie
      [options]="lottieOptions"
      (click)="scrollDown(cardsContainer)"
    ></ng-lottie>
  </article>
  <article class="products-page__products" #cardsContainer>
    <mat-spinner *ngIf="!pageReady"></mat-spinner>
    <mat-card *ngFor="let movie of products">
      <mat-card-header>
        {{ movie.name }}
      </mat-card-header>
      <div class="img-container">
        <img mat-card-image [src]="movie.imageUrl" />
      </div>
      <mat-card-content>
        <h1>Synopsis:</h1>
        <p>{{ movie.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button (click)="handleAddToCart(movie)">
          <mat-icon>add_shopping_cart</mat-icon>
          <span>{{ priceFormatter(movie.price) }}</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </article>
</section>
