@import "../../scss-partials/_vars.scss";
@import "../../scss-partials/_mixins.scss";

h1 {
  font-size: 3.3rem;
  font-family: "Gentium Basic", serif;
  text-align: center;
  width: clamp(70%, 70%, 100%);
  line-height: 1.12;
}

article {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  @include center-col;
  gap: 2rem;

  mat-card {
    background-color: #cdcdd7;
    color: #3a405d;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    gap: 2rem;
    .cart__item-card__img-container {
      grid-column: 1 / 3;
      @include center-col;
      align-self: stretch;
      align-items: flex-start;
      //   width: 4rem;
      height: 100%;
      img {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
      }
    }
    .cart__item-card__content-container {
      grid-column: 3 / 10;
      @include center-col;
      align-items: flex-start;
      gap: 0.8rem;
      h1 {
        font-size: 1.7rem;
        text-align: left;
      }
    }
    .cart__item-card__actions-container {
      width: 100%;
      height: 100%;
      grid-column: 10 / 12;
    }
  }
}

.cart {
  @include center-col;
  width: 100%;
  height: 100%;
  mat-horizontal-stepper {
    margin-top: 3rem;
    width: 100%;
    height: 100%;

    #step1 {
      background-color: blue;
      h1 {
        font-size: 6rem;
      }
    }
    .cart__card-container {
      display: none;
      //   width: 100%;
      //   height: 100%;
      background-color: red;
      mat-card {
        background-color: red;
        // @include center-row;
        // height: 3rem;
        // .cart__item-card__img-container {
        //   height: 7rem;
        //   width: 100%;
        //   image {
        //     max-height: 100%;
        //     max-width: 100%;
        //   }
        // }
      }
    }
  }
}

.delete-animations {
  -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
