<section class="cart">
  <mat-horizontal-stepper>
    <mat-step id="step1">
      <ng-template matStepLabel>Check your cart</ng-template>
      <app-no-items-in-cart *ngIf="!cart.length"></app-no-items-in-cart>
      <h1 *ngIf="cart.length">Cart Items</h1>
      <article *ngIf="cart.length">
        <div class="cart__card-container">
          <mat-card *ngFor="let item of cart" class="cart__item-card">
            <div class="cart__item-card__img-container">
              <img [src]="item.imageUrl" mat-card-image />
            </div>
            <div class="cart__item-card__content-container">
              <mat-card-title>{{ item.name }}</mat-card-title>
              <mat-card-content id="desc">{{
                item.description
              }}</mat-card-content>
              <mat-card-content id="price">{{
                priceFormatter(item.price)
              }}</mat-card-content>
            </div>
            <div class="cart__item-card__actions-container">
              <mat-card-actions>
                <button mat-button (click)="removeFromCart(item, $event)">
                  ☠️
                  <!-- <mat-icon>delete_outline</mat-icon> -->
                </button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>

        <div class="cart__price-container">
          <h1>Total Price: {{ totalPrice() }} SEK</h1>
          <button mat-button matStepperNext>Continue to payment</button>
        </div>
      </article>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Shopper Information</ng-template>
      <app-user-info-form
        (userForm)="handleUserInfoForm($event)"
      ></app-user-info-form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Payment Information</ng-template>
      <app-payment-form
        (paymentInformation)="handlePaymentInformation($event)"
      ></app-payment-form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Confirm and Submit</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</section>
