<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">🏠 Home</a>
      <a mat-list-item routerLink="/products" (click)="drawer.close()"
        >📽️ Products</a
      >
      <a mat-list-item routerLink="/cart" (click)="drawer.close()">🛒 Cart</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-container>
    <mat-toolbar>
      <button
        mat-icon-button
        type="button"
        aria-label="toggle sidenav on and off"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">🔥 Streaming</span>
      <span class="fill-space"></span>

      <!-- will only be rendered on larger screens -->
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/">🏠 Home</a>
        <a mat-button routerLink="/products">🌟 Products</a>
        <a mat-button routerLink="/profile">👲 Profile</a>
        <a
          mat-button
          routerLink="/cart"
          [matBadge]="badgeCount()"
          matBadgeColor="warn"
          >🛒 Cart</a
        >

        <!-- <button mat-button [matMenuTriggerFor]="expandedCard">
          <mat-icon [matBadge]="badgeCount()" matBadgeColor="warn"
            >shopping_cart</mat-icon
          >
        </button> -->
        <!-- <mat-menu #expandedCard="matMenu" xPosition="before" id="menu">
          <h1 mat-menu-item>My Cart</h1>
          <div *ngFor="let item of cart" mat-menu-item id="cartContainer">
            <p>{{ item.name }}</p>
          </div>
        </mat-menu> -->
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-container>
</mat-sidenav-container>
