<section class="hero">
  <div class="hero__header">
    <h1>Welcome to this brand new 🔥 movies shop!</h1>
  </div>
  <div class="hero__sub-text">
    <p>Awesome new movies added daily!</p>
    <p>Get access to steaming-url instantly!</p>
  </div>
  <div class="hero__button">
    <a mat-button>Get Started</a>
  </div>
</section>

<section class="content">
  <div class="content__header">
    <h3>
      Tired of wasting your hard-earned cash at multiple streaming services?
    </h3>
  </div>
  <div class="content__negatives">
    <ul>
      <li>👎 Slow page-load times?</li>
      <li>👎 Tons of plugins that constantly need updating?</li>
      <li>👎 Bad SEO?</li>
      <li>👎 Website vulnerable to attacks?</li>
    </ul>
    <div class="illustration">
      <img src="./../../../assets/undraw_feeling_blue_4b7q.svg" />
    </div>
  </div>
</section>

<section class="content-p2">
  <h1>Wave good-bye to all of that! 👋</h1>
  <p>
    And say hi to this brand new streaming service that's going to change the
    way you consume your media!
  </p>
</section>
