@import "../../scss-partials/_vars.scss";
@import "../../scss-partials/_mixins.scss";

article {
  @include center-col;
  gap: 1rem;

  h1 {
    font-size: clamp(3rem, 3.3rem, 5rem);
    font-family: "Gentium Basic", serif;
    text-align: center;
    width: 100%;
    line-height: 1.12;
  }

  p {
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
  }
  a {
    @include animated-btn(#b2f9ff, #ecebdb, black);
    font-weight: 100;
  }
}
