<section class="admin-panel">
  <div *ngIf="!isLoggedIn" class="admin-panel--not-logged-in">
    <h1>Sit back and relax, you're being logged in automatically..</h1>
    <ng-lottie [options]="lottieOptions"></ng-lottie>
  </div>

  <div class="admin-panel--logged-in" [ngClass]="{ hidden: !isLoggedIn }">
    <h1>Welcome to your admin panel</h1>
    <p>
      Here you have access to all the orders that have ever been places in this
      site
    </p>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="tableData">
        <!-- Order Created Column -->
        <ng-container matColumnDef="orderMade">
          <th mat-header-cell *matHeaderCellDef>Order Created</th>
          <td mat-cell *matCellDef="let element">
            {{ timeFormatter(element.orderMade) }}
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef>Order Total</th>
          <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete Order</th>
          <td
            mat-cell
            *matCellDef="let element"
            (click)="openDialog(element.idFromApi)"
          >
            {{ element.delete }}
            <mat-icon>delete_forever</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</section>
