//my own:
$transparent-white: rgba(255, 255, 255, 0.1);
$error-body: rgba(217, 83, 79, 0.1);
$error-left: rgba(217, 83, 79, 1);
$success-body: rgba(79, 156, 104, 0.1);
$success-left: #4f9d69;

$hero: #242736;
$hero-page-3: #f3e8ea;

$page-margin: 3rem;
